h1,h2,h3,h4{
  color: #333;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
}

h1{
  font-size: 36px;
  margin-top: 18px;
  margin-bottom: .15em;
}
h2{
  font-size: 30px;
  margin-bottom: 15px;
}
h3{
  color: #777;
  font-size: 25px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#post .authoring{
  margin-bottom: 17px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding-left: 0px;
  font-size: 17px;
  color: #777;
}
