---
layout: page
title : Archive
---

<div id="archive">
{% for post in site.posts %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  <h2>{{ year }}</h2> 
  <hr />
{% endunless %}
{% assign currentdate = post.date | date: "%B %Y" %}
{% if currentdate != date %}
<h3 id="{{ currentdate }}">{{ currentdate | date: "%B" }}</h3>
<ul class="list-unstyled">
{% endif %}
{% assign date = currentdate %}
    <li><small style="color: #aaa">{{ post.date | date: "%Y/%m/%d" }}</small>&nbsp;&raquo;&nbsp;<a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
