---
layout: page
title : Slides
description: "用 Markdown 写的在线幻灯片"
permalink: /slides/
---

<div id="slides-index">
{% assign all_pages = site.pages | sort: 'date' | reverse %}
{% assign deck_count = 0 %}
<ul class="list-unstyled">
  {% for p in all_pages %}
    {% if p.layout == "slides" %}
      {% assign deck_count = deck_count | plus: 1 %}
  <li style="margin-bottom: 1.5em;">
    <small style="color: #aaa">{{ p.date | date: "%Y/%m/%d" }}</small>
    &nbsp;&raquo;&nbsp;
    <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
    {% if p.subtitle %}<br><small style="color: #999">{{ p.subtitle }}</small>{% endif %}
  </li>
    {% endif %}
  {% endfor %}
</ul>
{% if deck_count == 0 %}
<p>还没有幻灯片。</p>
{% endif %}
</div>
