{%- assign e = include.e -%}
{%- assign month_url = e.url | split: '#' | first -%}
<li class="moment" id="{{ e.id }}" data-title="{{ e.title }}" data-month="{{ e.month }}">
    <div class="moment-head">
        <a class="moment-when" href="{{ e.page | prepend: site.baseurl }}" title="{{ e.title }}"><time datetime="{{ e.time | date: '%Y-%m-%dT%H:%M:%S%:z' }}">{{ e.title }}</time></a>
        {%- if e.place %}<span class="moment-place"><i class="fa fa-location-dot"></i> {{ e.place }}</span>{% endif %}
    </div>
    <div class="moment-body">
        {{ e.html }}
    </div>
    <div class="moment-foot">
        {%- if page.is_tag or page.is_entry %}
        <a href="{{ month_url | prepend: site.baseurl }}#comments" class="moment-act" title="到所在月份的评论区"><i class="fa fa-regular fa-comment"></i> 评论</a>
        {%- else %}
        <span class="sec-react" data-title="{{ e.title }}" data-kinds="up" data-icon="fa-regular fa-heart" data-icon-on="fa-heart"></span>
        <a href="#comments" class="moment-act" title="到本月的评论区"><i class="fa fa-regular fa-comment"></i> 评论</a>
        {%- endif %}
        {%- if e.refs_in and e.refs_in.size > 0 %}
        <a href="{{ e.page | prepend: site.baseurl }}#refs" class="moment-act moment-backrefs">↩ {{ e.refs_in.size }} 条批注</a>
        {%- endif %}
        <button type="button" class="moment-act moment-share" title="分享这一条" aria-haspopup="true" aria-expanded="false" data-url="{{ site.url }}{{ site.baseurl }}{{ e.page }}" data-title="随笔 · {{ e.title }}" data-text="{{ e.text | truncate: 80 | escape }}"><i class="fa fa-share-alt"></i> 分享</button>
        <span class="moment-own" hidden>
            <a href="{{ '/moments/post.html' | prepend: site.baseurl }}?edit={{ e.month }}/{{ e.id }}" class="moment-act moment-edit" title="在发布页里修改这一条"><i class="fa fa-pen"></i> 编辑</a>
            <a href="{{ '/moments/post.html' | prepend: site.baseurl }}?ref={{ e.id }}" class="moment-act moment-annotate" title="引用并批注这一条">批注</a>
            <button type="button" class="moment-act moment-pin" data-pinned="{{ e.pinned }}" title="置顶这条随笔">{% if e.pinned %}📌 取消置顶{% else %}📌 置顶{% endif %}</button>
            <button type="button" class="moment-act moment-del" title="删除这一条"><i class="fa fa-trash"></i> 删除</button>
        </span>
        <span class="moment-toast" aria-live="polite" hidden></span>
    </div>
</li>
